.image_editor {
    width: 100vw;
    height: 100vh;
    background-color: #e1e6ef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_editor .card {
    padding: 28px;
    width: 700px;
    height: 80%;
    background-color: #fff;
    box-shadow: 0 8px 16px 0px #c9c9c9;
}
.image_editor .card .card_header {
    text-align: center;
    padding-bottom: 15px;
}
.image_editor .card .card_header h2 {
    text-transform: uppercase;
    color: #e52fcf;
}
.image_editor .card .card_body {
    display: flex;
    justify-content: center;
}
.image_editor .card .card_body .sidebar .reset {
    margin-top: 20px;
}
.image_editor .card .card_body .sidebar .reset .save {
    background-color: #d5cf10 !important;
    margin-left: 5px;
}
.image_editor .card .card_body .sidebar .reset button {
    background-color: #f23555;
    padding: 8px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #dad7d7;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
}
.image_editor .card .card_body .sidebar span {
    font-size: 15px;
    color: #404040;
    margin-bottom: 4px;
    display: block;
}
.image_editor .card .card_body .sidebar .side_body {
    width: 250px;
    border: 1px solid #c3c5c4;
    margin-right: 8px;
    height: 300px;
    padding: 10px;
}
.image_editor .card .card_body .sidebar .side_body .filter_key {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
}
.image_editor .card .card_body .sidebar .side_body .filter_key button.active {
    background-color: #545dd8;
    color: #fff;
}
.image_editor .card .card_body .sidebar .side_body .filter_key button {
    padding: 8px;
    background-repeat: 3px;
    border: 1px solid #dad7d7;
    cursor: pointer;
    color: #404040;
    text-transform: capitalize;
}
.image_editor .card .card_body .sidebar .side_body .filter_slider {
    margin: 15px 0px;
}
.image_editor .card .card_body .sidebar .side_body .filter_slider .label_bar {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}
.image_editor .card .card_body .sidebar .side_body .filter_slider .label_bar label, .image_editor .card .card_body .sidebar .side_body .filter_slider .label_bar span {
    color: #404040;
    font-size: 15px;
    text-transform: capitalize;
}
.image_editor .card .card_body .sidebar .side_body .filter_slider input {
    width: 100%;
}
.image_editor .card .card_body .sidebar .side_body .rotate label {
    margin-bottom: 8px;
    display: block;
    font-size: 15px;
    color: #404040;
}
.image_editor .card .card_body .sidebar .side_body .rotate .icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}
.image_editor .card .card_body .sidebar .side_body .rotate .icon div {
    border: 1px solid #b3c2c2;
    padding: 8px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.image_editor .card .card_body .image_section {
    margin-left: 8px;
    width: 350px;
    background-color: #f0f0f0;
    height: 300px;
}
.image_editor .card .card_body .image_section .image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.image_editor .card .card_body .image_section .image img {
    object-fit: scale-down;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
}
.image_editor .card .card_body .image_section .image label {
    width: 100%;
    height: 100%;
    display: flex;
    border: dotted;
    border-color: #c5c9c5;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image_editor .card .card_body .image_section .image label svg {
    font-size: 40px;
    color: #b4acac;
}
.image_editor .card .card_body .image_section .image label span {
    color: #404040;
}
.image_editor .card .card_body .image_section .image_select {
    margin: 20px 0px;
    display: flex;
    justify-content: flex-end;
}
.image_editor .card .card_body .image_section .image_select input {
    display: none;
}
.image_editor .card .card_body .image_section .image_select label, .image_editor .card .card_body .image_section .image_select button {
    padding: 8px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #dad7d7;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
}
.image_editor .card .card_body .image_section .image_select .redo, .image_editor .card .card_body .image_section .image_select .undo {
    background-color: #4a55f3;
    margin-left: 5px;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
}
.image_editor .card .card_body .image_section .image_select label {
    background-color: #115811;
    margin-left: 5px;
}
.image_editor .card .card_body .image_section .image_select .crop {
    background-color: #8e33b7;
    margin-left: 5px;
}
.image-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }